In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('subMuestra-Accidentalidad.csv')

In [139]:
df.shape

(35619, 20)

In [0]:
df = df.drop(['DIRECCION_ENC','RADICADO','OBJECTID'], axis=1)

In [0]:
df.rename(columns={'CBML':'CODIGO CBML','DIA_NOMBRE':'NOMBRE DEL DIA','DISENO':'DISEÑO','MES_NOMBRE':'NOMBRE DEL MES','TIPO_GEOCOD':'TIPO DE COORDENADA'}, inplace = True)

In [142]:
df.head(5)

          BARRIO CODIGO CBML  ...          X         Y
0     Campo Amor        1507  ... -75.578357  6.213719
1    Villa Flora        0715  ... -75.592022  6.279157
2        Robledo        0717  ... -75.595882  6.275555
3  La Candelaria        1019  ... -75.567284  6.248271
4         Manila        1419  ... -75.576195  6.213677

[5 rows x 17 columns]

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35619 entries, 0 to 35618
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BARRIO              35566 non-null  object
 1   CODIGO CBML         35577 non-null  object
 2   CLASE               35619 non-null  object
 3   COMUNA              35579 non-null  object
 4   DIA                 35619 non-null  int64
 5   NOMBRE DEL DIA      35619 non-null  object
 6   DIRECCION           35619 non-null  object
 7   DISEÑO              35523 non-null  object
 8   FECHA               35619 non-null  object
 9   GRAVEDAD            35619 non-null  object
 10  HORA                35619 non-null  object
 11  MES                 35619 non-null  int64
 12  NOMBRE DEL MES      35619 non-null  object
 13  PERIODO             35619 non-null  int64
 14  TIPO DE COORDENADA  35619 non-null  object
 15  X                   35619 non-null  float64
 16  Y                   35619 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 4.6+ MB

In [147]:
df.columns

Index(['BARRIO', 'CODIGO CBML', 'CLASE', 'COMUNA', 'DIA', 'NOMBRE DEL DIA',
       'DIRECCION', 'DISEÑO', 'FECHA', 'GRAVEDAD', 'HORA', 'MES',
       'NOMBRE DEL MES', 'PERIODO', 'TIPO DE COORDENADA', 'X', 'Y'],
      dtype='object')

In [0]:
#Eliminamos las filas de las columnas que no tienen información   
df = df.drop(df[df['COMUNA']=='Sin Inf'].index)

df.drop(df[df['CODIGO CBML'].isnull()].index, inplace = True)
df.drop(df[df['BARRIO'].isnull()].index,inplace = True)
df.drop(df[df['COMUNA'].isnull()].index, inplace = True)
df.drop(df[df['DISEÑO'].isnull()].index, inplace = True)
df.drop(df[df['GRAVEDAD'].isnull()].index, inplace = True)

In [150]:
df.shape

(35472, 17)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35472 entries, 0 to 35618
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BARRIO              35472 non-null  object
 1   CODIGO CBML         35472 non-null  object
 2   CLASE               35472 non-null  object
 3   COMUNA              35472 non-null  object
 4   DIA                 35472 non-null  int64
 5   NOMBRE DEL DIA      35472 non-null  object
 6   DIRECCION           35472 non-null  object
 7   DISEÑO              35472 non-null  object
 8   FECHA               35472 non-null  object
 9   GRAVEDAD            35472 non-null  object
 10  HORA                35472 non-null  object
 11  MES                 35472 non-null  int64
 12  NOMBRE DEL MES      35472 non-null  object
 13  PERIODO             35472 non-null  int64
 14  TIPO DE COORDENADA  35472 non-null  object
 15  X                   35472 non-null  float64
 16  Y                   35472 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 4.9+ MB

In [152]:
df.head(5)

          BARRIO CODIGO CBML  ...          X         Y
0     Campo Amor        1507  ... -75.578357  6.213719
1    Villa Flora        0715  ... -75.592022  6.279157
2        Robledo        0717  ... -75.595882  6.275555
3  La Candelaria        1019  ... -75.567284  6.248271
4         Manila        1419  ... -75.576195  6.213677

[5 rows x 17 columns]

In [0]:
df['FECHA'] = pd.to_datetime(df['FECHA'])

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35472 entries, 0 to 35618
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BARRIO              35472 non-null  object
 1   CODIGO CBML         35472 non-null  object
 2   CLASE               35472 non-null  object
 3   COMUNA              35472 non-null  object
 4   DIA                 35472 non-null  int64
 5   NOMBRE DEL DIA      35472 non-null  object
 6   DIRECCION           35472 non-null  object
 7   DISEÑO              35472 non-null  object
 8   FECHA               35472 non-null  datetime64[ns, UTC]
 9   GRAVEDAD            35472 non-null  object
 10  HORA                35472 non-null  object
 11  MES                 35472 non-null  int64
 12  NOMBRE DEL MES      35472 non-null  object
 13  PERIODO             35472 non-null  int64
 14  TIPO DE COORDENADA  35472 non-null  object
 15  X                   35472 non-null  float64
 16  Y                   35472 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(3), object(11)
memory usage: 4.9+ MB

In [0]:
df['FECHA'] = df['FECHA'].dt.date

In [0]:
df['HORA'] = pd.to_datetime(df['HORA'])

In [157]:
df['HORA']

0       2020-05-18 14:10:00
1       2020-05-18 20:30:00
2       2020-05-18 21:20:00
3       2020-05-18 08:50:00
4       2020-05-18 18:18:00
                ...
35614   2020-05-18 18:50:00
35615   2020-05-18 01:00:00
35616   2020-05-18 10:30:00
35617   2020-05-18 16:00:00
35618   2020-05-18 16:20:00
Name: HORA, Length: 35472, dtype: datetime64[ns]

In [0]:
df['HORA'] = df['HORA'].dt.time

In [159]:
df.head(5)

          BARRIO CODIGO CBML  ...          X         Y
0     Campo Amor        1507  ... -75.578357  6.213719
1    Villa Flora        0715  ... -75.592022  6.279157
2        Robledo        0717  ... -75.595882  6.275555
3  La Candelaria        1019  ... -75.567284  6.248271
4         Manila        1419  ... -75.576195  6.213677

[5 rows x 17 columns]

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35472 entries, 0 to 35618
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BARRIO              35472 non-null  object
 1   CODIGO CBML         35472 non-null  object
 2   CLASE               35472 non-null  object
 3   COMUNA              35472 non-null  object
 4   DIA                 35472 non-null  int64
 5   NOMBRE DEL DIA      35472 non-null  object
 6   DIRECCION           35472 non-null  object
 7   DISEÑO              35472 non-null  object
 8   FECHA               35472 non-null  datetime64[ns]
 9   GRAVEDAD            35472 non-null  object
 10  HORA                35472 non-null  object
 11  MES                 35472 non-null  int64
 12  NOMBRE DEL MES      35472 non-null  object
 13  PERIODO             35472 non-null  int64
 14  TIPO DE COORDENADA  35472 non-null  object
 15  X                   35472 non-null  float64
 16  Y                   35472 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 4.9+ MB

In [0]:
df.to_csv('Capa Accidentes.csv', index = False)

In [0]:
df['FECHA'] = pd.to_datetime(df['FECHA'])

In [172]:
df

                       BARRIO CODIGO CBML  ...          X         Y
0                  Campo Amor        1507  ... -75.578357  6.213719
1                 Villa Flora        0715  ... -75.592022  6.279157
2                     Robledo        0717  ... -75.595882  6.275555
3               La Candelaria        1019  ... -75.567284  6.248271
4                      Manila        1419  ... -75.576195  6.213677
...                       ...         ...  ...        ...       ...
35614  Manrique Central No. 1        0409  ... -75.557681  6.263142
35615                  Loreto        0913  ... -75.558421  6.232295
35616              Las Brisas        0502  ... -75.563815  6.301392
35617            Barrio Colón        1013  ... -75.566617  6.243250
35618            Buenos Aires        0907  ... -75.559189  6.240963

[35472 rows x 17 columns]

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35472 entries, 0 to 35618
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BARRIO              35472 non-null  object
 1   CODIGO CBML         35472 non-null  object
 2   CLASE               35472 non-null  object
 3   COMUNA              35472 non-null  object
 4   DIA                 35472 non-null  int64
 5   NOMBRE DEL DIA      35472 non-null  object
 6   DIRECCION           35472 non-null  object
 7   DISEÑO              35472 non-null  object
 8   FECHA               35472 non-null  datetime64[ns]
 9   GRAVEDAD            35472 non-null  object
 10  HORA                35472 non-null  object
 11  MES                 35472 non-null  int64
 12  NOMBRE DEL MES      35472 non-null  object
 13  PERIODO             35472 non-null  int64
 14  TIPO DE COORDENADA  35472 non-null  object
 15  X                   35472 non-null  float64
 16  Y                   35472 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 4.9+ MB

In [0]:
df.to_csv('Capa Accidentes.csv', index = False)